*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-size: 10px;
}

h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  margin-left: 25%;
  padding-bottom: 4%
}

.container {
  font-size: 1.5em;
  background-color: #DFDFDF;
  /* margin-top: 40px; */
  padding-top: 5%;
}

.preview {
  height: 300px;
}

.preview h1 {
  font-size: 1.5em;
  font-family: serif;
  text-transform: none;
  margin: 5%;
  margin-top: 1%;
  padding-top: 10%;
  padding-left: 10%;
}

.baku {
  background-image: url("../images/baku.jpg");
  background-size: cover;
}

.london {
  background-image: url("../images/london.png");
  background-size: cover;
}

.madrid {
  background-image: url("../images/madrid.jpg");
  background-size: cover;
}

.rome {
  background-image: url("../images/rome.jpg");
  background-size: cover;
}

@media screen and (min-width: 575px){
  .preview {
    margin: 1%;
    width: 48%;
    float: left;
  }

  .container {
    background-color: #DFDFDF;
  }

  h1 {
    font-size: 1.3em;
    margin-left: 35%;
    padding-bottom: 5%;
  }

@media screen and (min-width: 991px){
  .preview {
    width: 23%;
  }

  h1 {
    font-size: 2em;
    padding-bottom: 5%;
    margin-left: 40%;
  }
